
/* Your CSS Code here. */
table {
  border-collapse: collapse;
  text-algin:left;
	width:100%;

} 

th,td {
  border: 1px solid black;
	
}
#s {
	background-color:rgb(192,80,77);
}
#w {
	background-color:rgb(218,150,148);
}
#c {
	background-color:rgb(242,220,219);
}
#sl {
	background-color:rgb(217,217,217);
}